.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.bg {
    background-color: #0B0531;
    border: 2px solid #8818C0;
    width: 98%;
    height: 99%;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.title{
    color: white;
    width: 100%;
    font-size: 50px;
    font-weight:bold ;
    padding-top: 40%;
}

.caixa{
    border: 1px solid #8818C0;
    width: 85%;
    height: 50px;
    margin: 2%;
    padding-left: 12px;
    border-radius: 10px;
    color: white;
}

.text{
    color: white;
    font-size: 25px;
}
.textP{
    color: white;
    font-size: 12px;
    padding-top: 25px;
}

.btn{
    border: 1px solid #8818C0;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 2%;
    border-radius: 15px;
}

.inps{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35%;
}

.btns{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}